[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "==2.93.0"
constructs = ">=10.0.0,<11.0.0"
requests-mock = "*"
urllib3-mock = "==0.3.3"
pytest = "==6.2.5"

[requires]
python_version = "3.11.1"
